 /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #3d64e6;
}

.container {
    background-color: #ffffff;
    width: 80vh;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.searchWrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.searchWrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}

.searchWrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}

#result {
    margin-top: 1.25em;
}

.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5rem;
    margin: 1.8em auto 1.2em auto;
}

.container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.dataWrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span {
    color: #5d6274;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
} */


             /* PROJECT 2 */

* {
    box-sizing: border-box;
}

body {
    --background-color: white;                       
    --text-color: black;
    --elements-color: white;
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.headerContainer {
    box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
    background-color: var(--elements-color);  
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.title {
    font-weight: 800;
}

.themeChanger{
    cursor: pointer;
}

.countriesContainer {
    max-width: 1200px;
    margin-top: 15px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    margin-inline: auto;
    justify-content: space-between;
}

.countryCard {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}

.countryCard:hover {
    transform: scale(1.02);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.countryCard img {
    width: 100%;
}

.cardText {
    padding-inline: 15px;
}

.cardText p {
    margin-block: 8px;
}


.cardTitle {
    font-size: 24px;
    margin-block: 15px;
}

.searchFilterContainer {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.searchContainer {
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
    background-color: var(--elements-color);
    color: var(--text-color);
}

.searchContainer input {
    margin-left: 20px;
    border: none;
    outline: none;
    padding: 16px 0;
    width: 80%;
    background-color: inherit;
    color: inherit;
}

.searchContainer input::placeholder {
    color: #999;
}

.filterByRegion {
    width: 250px;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
}

@media(max-width: 768px) {
    .countriesContainer {
        justify-content: center;
    }

    .title {
        font-size: 16px;
    }

    .headerContent p {
        font-size: 12px;
    }

    .searchFilterContainer {
        flex-direction: column;
    }

    
}